@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,700");

body {
    background-color: #0a1727;
    font-family: "Poppins";
}

h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

a {
    color: inherit;
    text-decoration: none;
}

.aboutme {
    color: white;
    text-align: center;
    margin-top: 65px;
    font-size: 30px;
}

.Container {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 320px;
    margin: 0 auto;
}

.Button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    letter-spacing: 0.0625rem;
    margin-top: 1.5625rem;
    padding: 1.5625rem 2.1875rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 10px;
    text-transform: uppercase;
    transform-style: preserve-3d;
    will-change: transform;
    z-index: 1;
    transition: transform 0.3s;
}

.Button:hover {
    transform: scale(1.1); /*nagyítás*/
}

.Button-mask {
    position: absolute;
    transition: transform 0.425s ease-in-out;
    z-index: -1;
}

.Button-mask.slides-left {
    left: 0;
}

.Button-mask.slides-right {
    right: 0;
}

.Button-slides {
    top: 0;
    width: 200%;
    height: 100%;
}

.Button-rotates {
    top: 50%;
    left: 50%;
    width: 200%;
    height: 600%;
    transform: translate3d(-50%, -50%, 0);
}

.Button:hover .Button-mask.slides-left {
    transform: translate3d(-50%, 0, 0);
}

.Button:hover .Button-mask.slides-right {
    transform: translate3d(50%, 0, 0);
}

.Button:hover .Button-mask.rotates-clockwise {
    transform: rotate(180deg) translate3d(50%, 50%, 0);
}

.Button:hover .Button-mask.rotates-c-clockwise {
    transform: rotate(-180deg) translate3d(50%, 50%, 0);
}

.Graident-one {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.Graident-two {
    background-image: linear-gradient(to right, #4375ec, #2d54d2, #6543ef, #1689e7);
    box-shadow: 0 4px 15px 0 rgba(30, 98, 172, 0.75);
}

.Graident-three {
    background-image: linear-gradient(to right, #0b91a3, #3ca7ba, #1b9b68, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(9, 100, 114, 0.75);
}